<div
  class="card"
  [class.success]="wordDetails?.correct"
  [class.current]="wordDetails?.current"
  [class.invalid]="wordDetails?.invalid">
  <div class="card-block">
    <h3 class="card-title" *ngIf="!wordDetails?.correct && !wordDetails?.invalid">{{wordDetails?.firstLetter | uppercase}}</h3>
    <clr-icon shape="check" size="24" class="is-success is-inverse" *ngIf="wordDetails?.correct"></clr-icon>
    <clr-icon shape="times" size="24" class="is-success is-inverse" *ngIf="wordDetails?.invalid"></clr-icon>
  </div>
</div>
