<ng-container *ngrxLet="gameState$ as gameState">  
  <div class="clr-row">
    <div class="clr-col center-elements">
      <button
        class="btn btn-outline"
        (click)="navigateHome()"
        [disabled]="gameState.started && !gameState.ended">
        <clr-icon shape="home"></clr-icon>
        <span class="button-text">&nbsp;Home</span>
      </button>
      <button
        class="btn btn-success"
        (click)="correct()"
        [disabled]="!gameState.started || gameState.ended"
        [title]="gameState.ended ? 'Game Ended' : !gameState.started ? 'Game Not Started' : 'Mark word as correct'">
        <clr-icon shape="check"></clr-icon>
        <span class="button-text">&nbsp;Correct</span>
      </button>
      <button
        class="btn btn-skip"
        (click)="skip()"
        [disabled]="!gameState.started || gameState.ended"
        [title]="gameState.ended ? 'Game Ended' : !gameState.started ? 'Game Not Started' : 'Skip word'">
        <clr-icon shape="redo"></clr-icon>
        <span class="button-text">&nbsp;Skip</span>
      </button>
      <button
        class="btn btn-danger"
        (click)="penalize()"
        [disabled]="!gameState.started || gameState.ended"
        [title]="gameState.ended ? 'Game Ended' : !gameState.started ? 'Game Not Started' : 'Penalize an invalid clue'">
        <clr-icon shape="times"></clr-icon>
        <span class="button-text">&nbsp;Invalid</span>
      </button>
    </div>
  </div>

  <ng-container *ngrxLet="gameLetters$ as letters">
    <div class="clr-row" *ngIf="letters.length">
      <div class="clr-col-4 clr-col-sm-3 clr-col-md" *ngFor="let letter of letters">
        <app-letter-card [letterInfo]="letter"></app-letter-card>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!gameState.started">
    <br />
    <div class="clr-row">
      <div class="clr-col center-elements">
        <button
          class="btn btn-primary"
          (click)="beginGame()">
          Start Game
        </button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="gameState.started && !gameState.ended">
    <div class="clr-row" *ngrxLet="currentWord$ as currentWord">
      <div class="clr-col">
        <h1 class="center-text">Current Word: {{currentWord | uppercase}}</h1>
      </div>
    </div>

    <div class="clr-row" *ngIf="timer$ | async as remainingTime">
      <div class="clr-col">
        <h2 class="center-text">Remaining Time: {{remainingTime}}</h2>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="gameState.ended">
    <div class="clr-row">
      <div class="clr-col center-elements">
        <h1 class="center-text" *ngrxLet="remainingIndices$ as remaining">{{remaining.length ? 'Game Over' : 'You Won!'}}</h1>
      </div>
    </div>

    <div class="clr-row">
      <div class="clr-col center-elements">
        <button
          class="btn btn-primary"
          (click)="playAgain()">
          <clr-icon shape="sync"></clr-icon>
          Play Again
        </button>
      </div>
    </div>
  </ng-container>

</ng-container>
