<ng-container *ngrxLet="gameState$ as gameState">  
  <div class="clr-row">
    <div class="clr-col center-elements">
      <button
        class="btn btn-primary"
        (click)="beginGame()"
        [disabled]="gameState.started || gameState.ended"
        [title]="gameState.ended ? 'Game Ended' : gameState.started ? 'Game Already Started' : ''"
      >
        <clr-icon shape="play"></clr-icon>
        Begin
      </button>
      <button
        class="btn btn-success"
        (click)="onCorrect()"
        [disabled]="!gameState.started || gameState.ended"
        [title]="gameState.ended ? 'Game Ended' : !gameState.started ? 'Game Not Started' : ''"
      >
        <clr-icon shape="check"></clr-icon>
        Correct
      </button>
      <button
        class="btn btn-warning"
        (click)="onSkip()"
        [disabled]="!gameState.started || gameState.ended"
        [title]="gameState.ended ? 'Game Ended' : !gameState.started ? 'Game Not Started' : ''"
      >
        <clr-icon shape="redo"></clr-icon>
        Skip
      </button>
    </div>
  </div>

  <ng-container *ngrxLet="gameLetters$ as letters">
    <div class="clr-row" *ngIf="letters.length">
      <div class="clr-col-2 clr-col-sm-3 clr-col-md" *ngFor="let letter of letters">
        <app-letter-card [letterInfo]="letter"></app-letter-card>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="gameState.started && !gameState.ended">
    <div class="clr-row" *ngrxLet="currentWord$ as currentWord">
      <div class="clr-col">
        <h1 class="center-text">Current Word: {{currentWord | uppercase}}</h1>
      </div>
    </div>

    <div class="clr-row" *ngIf="timer$ | async as remainingTime">
      <div class="clr-col">
        <h2 class="center-text">Remaining Time: {{remainingTime}}</h2>
      </div>
    </div>
  </ng-container>

  <div class="clr-row" *ngIf="gameState.ended">
    <div class="clr-col">
      <h1 class="center-text" *ngrxLet="remainingIndices$ as remaining">{{remaining.length ? 'Game Over' : 'You Won!'}}</h1>
    </div>
  </div>

</ng-container>
