<div class="clr-row">
  <div class="clr-col center-elements">
    <h1 class="center-text">Play Alphabetics!</h1>
  </div>
</div>

<div class="clr-row">
  <div class="clr-col center-elements">
    <button class="btn btn-primary" (click)="newGameClicked()">New Game</button>
  </div>
</div>

<div class="clr-row">
  <div class="clr-col center-elements">
    <button class="btn btn-outline">Settings</button>
  </div>
</div>

<div class="clr-row">
  <div class="clr-col center-elements">
    <button class="btn btn-outline">Help</button>
  </div>
</div>

<div class="clr-row">
  <div class="clr-col center-elements">
    <button class="btn btn-outline">About</button>
  </div>
</div>
