<div class="clr-row" *ngIf="gameStatus">
  <div class="clr-col center-elements">
    <button
      class="btn btn-outline"
      (click)="navigateHome()"
      [disabled]="gameStatus.started && !gameStatus.ended">
      <clr-icon shape="home"></clr-icon>
      <span class="button-text">&nbsp;Home</span>
    </button>
    <button
      class="btn btn-success"
      (click)="correct()"
      [disabled]="!gameStatus.started || gameStatus.ended"
      [title]="gameStatus.ended ? 'Game Ended' : !gameStatus.started ? 'Game Not Started' : 'Mark word as correct'">
      <clr-icon shape="check"></clr-icon>
      <span class="button-text">&nbsp;Correct</span>
    </button>
    <button
      class="btn btn-skip"
      (click)="skip()"
      [disabled]="!gameStatus.started || gameStatus.ended"
      [title]="gameStatus.ended ? 'Game Ended' : !gameStatus.started ? 'Game Not Started' : 'Skip word'">
      <clr-icon shape="redo"></clr-icon>
      <span class="button-text">&nbsp;Skip</span>
    </button>
    <button
      class="btn btn-danger"
      (click)="penalize()"
      [disabled]="!gameStatus.started || gameStatus.ended"
      [title]="gameStatus.ended ? 'Game Ended' : !gameStatus.started ? 'Game Not Started' : 'Penalize an invalid clue'">
      <clr-icon shape="times"></clr-icon>
      <span class="button-text">&nbsp;Invalid</span>
    </button>
  </div>
</div>
