<form clrForm clrLayout="vertical" class="center-text">
  <clr-input-container>
    <label class="clr-col-12">Number of Words</label>
    <input #nw clrInput class="clr-col-12" type="number"
      [min]="numWordsRange.min"
      [max]="numWordsRange.max"
      [placeholder]="numWordsPlaceholder"
      [ngModel]="numWords$ | async"
      [ngModelOptions]="{standalone: true}"
      (change)="storeNumWords(nw.value)"
      appRestrictNumeric />
      <clr-control-error>Must be between {{numWordsPlaceholder}}</clr-control-error>
  </clr-input-container>

  <clr-select-container>
    <label class="clr-col-12">Game Duration (sec)</label>
    <select #gl clrSelect class="clr-col-12"
      [ngModel]="gameLength$ | async"
      [ngModelOptions]="{standalone: true}"
      (change)="storeGameLength(gl.value)">
      <option *ngFor="let time of timeOptions" [value]="time">{{time}}</option>
    </select>
  </clr-select-container>

  <br />
  <button class="btn btn-outline" (click)="navigateHome()">Back</button>
</form>
